parsetree.dot
all_tests
callgrind.out.*
core
grammar.output
grammar.xml
doc/*
ebin/*
.rebar/*
*.so
crc/*.swp
*.swp
csrc/*.so
csrc/*.o
csrc/lex.yy.c
csrc/scanner.c
csrc/scanner.h
csrc/*.swp
csrc/*.tab.h
csrc/*.tab.c
csrc/*.c~
csrc/*.h~
priv/*
data/*
csrc/test/testParser.c
src/doc/
